<?xml version="1.0" encoding="utf-8"?>
<data>
	<settings>
		<assets>
			<packages default="assets" audio="assets.audio" />
		</assets>
		<font name="assets_fonts_orbitron_ttf" />
		<rootGameEntity>sandbox.myGame</rootGameEntity>
		<gameClassPackage>LionScript</gameClassPackage>
	</settings>
	
	<services>
		<sound>org.gamepl.coreservices.services.dummy.Sound</sound>
		<logic>org.gamepl.coreservices.services.std.logic.core.Logic</logic>
		<input>org.gamepl.coreservices.services.std.input.core.Input</input>
		<comms>org.gamepl.coreservices.services.dummy.Comms</comms>
		<event>org.gamepl.coreservices.services.std.event.core.Event</event>
		<display>org.gamepl.coreservices.services.std.display.core.Display</display>
	</services>
</data>
